$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

form .ng-invalid {
  border: 1px solid red;
}

body, html, div#page {
  height: 100%;
  width: 100%;
}

#menu, #gps_info {
    position: absolute;
    z-index: 1000;
    opacity:0.8;
    margin: .4em;    
}

#menu {
    background-color: white;
    font-size: 200%;
    cursor:pointer;
}

#gps_info {
    right: 0;
    margin-top: 3px;
    margin-right: 110px;
}


#menu a {
    padding: .15em .5em;
    text-decoration: none;
}

#map_canvas {
    width: 100%;
    -webkit-transition: all linear .15s;
    transition: all linear .15s;
}

#map_canvas.list_visible {
    height: 70%;
}

#map_canvas.full_screen {
    height: 100%;
}

