$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

form .ng-invalid {
  border: 1px solid red;
}

body, html, div#page {
  height: 100%;
  width: 100%;
}

#menu {
    position: absolute;
    z-index: 1000;
    font-size: 200%;
    opacity:0.8;
    background-color: white;
    cursor:pointer;
    margin: .4em;
}

#menu a {
    padding: .15em .5em;
    text-decoration: none;
}
