<div id="menu">
 <a ng-click="list=!list;"> ☰ </a>
</div>
<div id="map_canvas" ng-class="list ? 'list_visible' : 'full_screen'"></div>
<div ng-show="list" id="list">
  <table class="table table-stripped">
    <tr>
      <th>Status</th>
      <th>Nickname</th>
      <th>+/-</th>
      <th>Last Update</th>
      <th><span class="glyphicon glyphicon-trash"></span></th>
    </tr>
    <tr ng-repeat="place in places | orderByPriority | filter:placeFilter | orderBy:'timestamp':'desc'" ng-click="selectPlace(place)" ng-class="selectedPlace == place ? 'active' : ''">
      <td>
	<span ng-class="place.connections ? 'label label-success' : 'label label-info'">
	  {{ place.connections ? 'online' : 'offline' }}
	</span>
      </td>
      <td>{{ place.$id }}</td>
      <td>{{ place.coords.accuracy | number:0 }}m</td>
      <td>{{ place.timestamp | niceDate }}</td>
      <th>
	<span ng-if="!place.connections" class="glyphicon glyphicon-trash" ng-click="deletePlace(place.$id); $event.stopPropagation()"></span>
      </th>
    </tr>
  </table>
  <p style="padding-bottom: 1em;">
    <button class="btn btn-default center-block" ng-click="login()">Change Room ({{roomName}}) or Nickname ({{nickname}})</button>
  </p>
</div>
